:root{
  --first-color: #232323;
  --second-color: orange;
  --text-color: #e6e6e6;
}

*{
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'MonteCarlo', cursive, sans-serif;
}

body{
  width: 450px;
  min-height: 600px;
  border: 2px solid red;
  /* background-color: var(--first-color); */
  background-color: var(--first-color);
}

.tqt{
  position: relative;
  top: 150px;
}

/*==== HEADER ====*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 5px rgb(255, 0, 0);
  height: 65px;
  z-index: 10;
}

header .logo{
  position: relative;
  top: -2px;
  left: 15px;
  font-size: 25px;
  color: red;
  text-decoration: none;
  font-weight: 600;
}


.principal_title {
  position: relative;
  width: 350px;
  font-size: 1.1rem;
  text-align: center;
  top: 30px;
  left: 25px;
}

.select-crypto{
  background-color: var(--first-color);
}

.button-crypto{
  background-color: var(--first-color);
}