:root{
  --first-color: #232323;
  --second-color: rgb(255, 166, 0);
  --text-color: #e6e6e6;
  --button-color: #727272;
}

*{
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'Space Mono', monospace;}

body{
  width: 450px;
  min-height: 700px;
  /* border: 2px solid red; */
  /* background-color: var(--first-color); */
  background-color: var(--first-color);
}

.tqt{
  position: relative;
  top: 150px;
}

/*==== HEADER ====*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--first-color);
  box-shadow: 0 3px 5px rgb(61, 61, 61);
  height: 65px;
  z-index: 10;
}

.navbar .logo{
  position: relative;
  top: -2px;
  left: 15px;
  font-size: 23px;
  color: var(--second-color);
  text-decoration: none;
  font-weight: 600;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar li a {
  color: var(--second-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.navbar li a:hover {
  color: var(--text-color);
}


.principal_title {
  position: relative;
  width: 350px;
  font-size: 1.1rem;
  text-align: center;
  top: 30px;
  left: 45px;
}

.select-crypto {
  position: relative;
  top: 35px;
  font-size: 15px;
  padding: 15px 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 19px;
  background-color: var(--first-color);
}

.select-option{
  font-size: 20px;
  text-align: center;
  background-color: transparent;
}

.button-crypto{
  position: relative;
  top: 35px;
  left: 10px;
  border-radius: 19px;
  background-color: var(--button-color);
  border: none;
  color: var(--text-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-crypto:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgb(95, 87, 87);
}

.crypto-result{
  position: relative;
  width: 350px;
  font-size: 25px;
  top: 75px;
}


.footer{
  position: absolute;
  bottom: -200px;
  left: 15%;
  transform: translateX(7%);
  text-align: center;
}

.footer__title{
  font-size: 25px;
}

.copy{
  font-size: 15px;
  margin-top: 10px;
}
